<div class="touchweb_page-order">
<div class="public_com-header">
<!-- left start -->
<a href="javascript:history.go(-1);" class="left icon-back"></a>
<!-- left end -->
<!-- title start -->
<h1>确认订单
</h1>
<!-- title end -->
</div>


<a class="userInfo" ng-click='editAdd()' >

<div ng-if='!noAdd' >
<div class="name">
<span>收货人</span><em><span id="receiverNameCn">{{unsuborder.address.recipient}}</span>
 &nbsp;&nbsp; {{unsuborder.address.phone}}</em>
</div>
<div class="address">{{unsuborder.address.selectedProvice}} &nbsp;&nbsp; 
{{unsuborder.address.selectedCity}} &nbsp;&nbsp; 
{{unsuborder.address.selectedArea}}  &nbsp;&nbsp; 
{{unsuborder.address.address}}</div>

</div >

<div ng-if='noAdd' >
<div class="address"> 没有地址，点击添加新地址</div>
</div>
</a>


<div class="touchweb_com-package">
<div class="b_wrapper">
<div class="title">
<div class="source">自营</div>
<div class="number">1个包裹</div>
</div>

<div class="p_wrapper">

<ul class="product_list open">
<li ng-repeat='item in unsuborder.list'>
<a class="product_wrapper" href = '/detail.html?p={{item.product._id}}' target='_self'>
<img ng-src="{{item.product.smallpic130}}" alt="{{item.product.name}}">
<div class="info">
<p class="content">{{item.product.name}}
</p>
<!--
<div class="icons">
<span class="icon_exchange_not icon-exchange_not" style="width: auto;font-size: 1rem;">不支持无理由退货</span>
</div>
-->
</div>
<div class="price">
<span class="totol_price">￥{{item.product.price}}</span>
<span class="count">X{{item.quantity}}</span>
</div>
</a>
</li>


<!-- end product -->

</ul>


<div class="express">
<a class="content ">
<span class="name">普通快递</span>
<span class="desc">预计商品下单后1至2天送达</span>
</a>
<span class="cost">运费<span class="focus">￥20</span></span>

</div>

</div>
</div>
</div>


<div class="payment" >
<div class="pay_way">
<div class="content">
支付方式
</div>
</div>
<!--
<div class="pay_way">
<div class="content">
<input type="radio" class="radioH5" id="onPayment1" name="onPayment" >
<span class="desc">
货到付款
</span>
</div>
</div> -->
<div class="pay_way">
<div class="content">
<input type="radio" class="radioH5" id="onPayment2" name="onPayment"  checked="checked">
<span class="desc">
网上支付
</span>

</div>
</div>
</div>


<!-- bottom box-->
<div class="submit_box" >
<div class="order_totol_cost">
<span class="totol_cost">合计：<span class="cost"><span class="small">￥</span>{{total}}</span></span>
</div>
<a  ng-click='makeOrder()' class="submit">提交订单</a>
</div>




</div>
