<div class="order_change_con">


<div class="package_detail" ng-repeat='order in user.data.orderhistory.slice().reverse()'>
<p>
<em>{{order.date.years}}-{{order.date.months+1}}-{{order.date.date}}</em>
<span class="amount">￥{{order.total}}</span>
</p>
<a href="orderdetail.html?id={{order._id}}" class="items a_link" target='_self'>
<ul>

<li ng-repeat='product in order.list|limitTo:3'>
<img ng-src="{{product.product.smallpic130}}">
</li>

</ul>
<span>
1
个包裹 (共{{ order.list.length}}件)
</span>
</a>
<div class="order_info">
<div class="info">
<span>订单号</span>
<span>{{order._id}}</span>
</div>
<div class="status">
<div ng-if="order.status=='未支付'">
<em class="timer"></em>
<a  href="" class="btn_pay">立即支付</a>
</div>
</div>
</div>
</div>
<!-- end product 1 -->




</div>

