
<div class="item_list">
<table>
<tbody>
<tr ng-repeat='item in order.list'
 ng-click="goProductDetail(item.product._id)"  id="goProductDetail" >
<td>
<div>
<img ng-src="{{item.product.smallpic130}}">
</div>
</td>
<td>
<p class="item_name">{{item.product.name}}</p>
</td>
<td>
<p>¥{{item.product.price}}</p>
<p>x{{item.quantity}}</p>
</td>
</tr>


<!-- 牛肉酱-->
<tr
 ng-if='order.haspromote' >
<td>
<div>
<img src="http://xx-jia.com/images/productimage/2/130.jpg">
</div>
</td>
<td>
<p class="item_name">向向家牛肉酱</p>
</td>
<td>
<p>¥5</p>
<p>x1</p>
</td>
</tr>

</tbody></table>
</div>
