<div id="container">

<div class="pd_comment-wrap">
<div>
<div class="pd_comment-tab">
<div class="pd_comment-tab-item" ng-click='chooseCom(1)'
ng-class="{'pd_comment-tab-item_current': isAtCom(1)}">
<span class="pd_comment-tab-text">全部</span>
<span class="pd_comment-tab-num">(6)</span>
</div>
<div class="pd_comment-tab-item" ng-click='chooseCom(2)'
ng-class="{'pd_comment-tab-item_current': isAtCom(2)}" >
<span class="pd_comment-tab-text">好评</span>
<span class="pd_comment-tab-num">(6)</span>
</div>
<div class="pd_comment-tab-item" ng-click='chooseCom(3)'
ng-class="{'pd_comment-tab-item_current': isAtCom(3)}" >
<span class="pd_comment-tab-text">中评</span>
<span class="pd_comment-tab-num">(0)</span>
</div>
<div class="pd_comment-tab-item" ng-click='chooseCom(4)'
ng-class="{'pd_comment-tab-item_current': isAtCom(4)}">
<span class="pd_comment-tab-text">差评</span>
<span class="pd_comment-tab-num">(0)</span>
</div>
</div><!-- pd_comment-tab -->
</div><!-- pd_head-fixed -->



<div class="pd_comment-box pd_comment-box_current">
<div class="pd_comment-no-poor">暂无中评！</div>
            <div class="pd_comment-item">
                <div class="pd_comment-text-box">
                    <div class="pd_comment-user">
						用户：暗**日
					</div>
                    <div class="pd_comment-date">2016-03-26</div>
                </div>
                <div class="pd_comment-score">
                    <span class="pd_comment-score-text">评分：</span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                </div>
                <div class="pd_comment-con"><a>衬衫质量比较好，拿到手这样的设计也非常时尚，正好春天穿，尤其搭配我粉色的外套。</a></div>
                <div class="pd_comment-arguments">
                    <div class="pd_comment-arguments-text">颜色：尺码:M        颜色:白色        </div>
                    
                </div>
                <div class="pd_comment-reply pd_comment-reply-business">
                    <div class="pd_comment-text-box">
                        <div class="pd_comment-reply-user">1号店官方回复：</div>
                        <div class="pd_comment-date">2016-03-28</div>
                    </div>
                    <div class="pd_comment-con">亲爱的顾客，非常感谢您对ONEBUYE的肯定和赞赏呢，幸福需要传递，美丽需要分享，也请向您周围的朋友分享一下哦。\n每周新品不断！期待您的下次光临。</div>
                </div>
            </div>
            <div class="pd_comment-item">
                <div class="pd_comment-text-box">
                    <div class="pd_comment-user">
						用户：低**行
					</div>
                    <div class="pd_comment-date">2016-03-24</div>
                </div>
                <div class="pd_comment-score">
                    <span class="pd_comment-score-text">评分：</span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                </div>
                <div class="pd_comment-con"><a>衣服收到意外惊喜很漂亮,衣形质量好，穿上版型棒棒的，很喜欢没有买错,朋友也买了一件收到也很高兴.爱漂亮的女孩!快下手买哦。</a></div>
                <div class="pd_comment-arguments">
                    <div class="pd_comment-arguments-text">颜色：尺码:S        颜色:白色        </div>
                    
                </div>
                <div class="pd_comment-reply pd_comment-reply-business">
                    <div class="pd_comment-text-box">
                        <div class="pd_comment-reply-user">1号店官方回复：</div>
                        <div class="pd_comment-date">2016-03-28</div>
                    </div>
                    <div class="pd_comment-con">亲爱的顾客，非常感谢您对ONEBUYE的肯定和赞赏呢，幸福需要传递，美丽需要分享，也请向您周围的朋友分享一下哦。\n每周新品不断！期待您的下次光临。</div>
                </div>
            </div>
            <div class="pd_comment-item">
                <div class="pd_comment-text-box">
                    <div class="pd_comment-user">
						用户：丁**3
					</div>
                    <div class="pd_comment-date">2016-03-22</div>
                </div>
                <div class="pd_comment-score">
                    <span class="pd_comment-score-text">评分：</span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                </div>
                <div class="pd_comment-con"><a>宝贝很不错，质量很好 还有穿上很舒服 物流也快</a></div>
                <div class="pd_comment-arguments">
                    <div class="pd_comment-arguments-text">颜色：尺码:XL        颜色:白色        </div>
                    
                </div>
                <div class="pd_comment-reply pd_comment-reply-business">
                    <div class="pd_comment-text-box">
                        <div class="pd_comment-reply-user">1号店官方回复：</div>
                        <div class="pd_comment-date">2016-03-23</div>
                    </div>
                    <div class="pd_comment-con">亲爱的顾客，非常感谢您对ONEBUYE的肯定和赞赏呢，幸福需要传递，美丽需要分享，也请向您周围的朋友分享一下哦。每周新品不断！期待您的下次光临。</div>
                </div>
            </div>
            <div class="pd_comment-item">
                <div class="pd_comment-text-box">
                    <div class="pd_comment-user">
						用户：qiu***
					</div>
                    <div class="pd_comment-date">2016-03-20</div>
                </div>
                <div class="pd_comment-score">
                    <span class="pd_comment-score-text">评分：</span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                </div>
                <div class="pd_comment-con"><a>衣服很有小清新的感觉，是我喜欢的风格，所以毫不犹豫就下手了，不错。</a></div>
                <div class="pd_comment-arguments">
                    <div class="pd_comment-arguments-text">颜色：尺码:S        颜色:白色        </div>
                    
                </div>
                <div class="pd_comment-reply pd_comment-reply-business">
                    <div class="pd_comment-text-box">
                        <div class="pd_comment-reply-user">1号店官方回复：</div>
                        <div class="pd_comment-date">2016-03-21</div>
                    </div>
                    <div class="pd_comment-con">亲爱的顾客，非常感谢您对Onebuye的肯定和赞赏呢，幸福需要传递，美丽需要分享，也请向您周围的朋友分享一下哦。\n每周新品不断！期待您的下次光临。</div>
                </div>
            </div>
            <div class="pd_comment-item">
                <div class="pd_comment-text-box">
                    <div class="pd_comment-user">
						用户：秋**0
					</div>
                    <div class="pd_comment-date">2016-03-17</div>
                </div>
                <div class="pd_comment-score">
                    <span class="pd_comment-score-text">评分：</span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                </div>
                <div class="pd_comment-con"><a>穿上很有文艺范，我好喜欢，面料很凉爽，满意。</a></div>
                <div class="pd_comment-arguments">
                    <div class="pd_comment-arguments-text">颜色：尺码:S        颜色:白色        </div>
                    
                </div>
                <div class="pd_comment-reply pd_comment-reply-business">
                    <div class="pd_comment-text-box">
                        <div class="pd_comment-reply-user">1号店官方回复：</div>
                        <div class="pd_comment-date">2016-03-21</div>
                    </div>
                    <div class="pd_comment-con">亲爱的顾客，非常感谢您对Onebuye的肯定和赞赏呢，幸福需要传递，美丽需要分享，也请向您周围的朋友分享一下哦。\n每周新品不断！期待您的下次光临。</div>
                </div>
            </div>
            <div class="pd_comment-item">
                <div class="pd_comment-text-box">
                    <div class="pd_comment-user">
						用户：心**方
					</div>
                    <div class="pd_comment-date">2016-03-20</div>
                </div>
                <div class="pd_comment-score">
                    <span class="pd_comment-score-text">评分：</span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                    <span class="icon-star_fat stars light"></span>
                </div>
                <div class="pd_comment-con"><a>衣服面料不错，很舒服，不褶皱，喜欢。</a></div>
                <div class="pd_comment-arguments">
                    <div class="pd_comment-arguments-text">颜色：尺码:S        颜色:白色        </div>
                    
                </div>
                <div class="pd_comment-reply pd_comment-reply-business">
                    <div class="pd_comment-text-box">
                        <div class="pd_comment-reply-user">1号店官方回复：</div>
                        <div class="pd_comment-date">2016-03-21</div>
                    </div>
                    <div class="pd_comment-con">亲爱的顾客，非常感谢您对Onebuye的肯定和赞赏呢，幸福需要传递，美丽需要分享，也请向您周围的朋友分享一下哦。\n每周新品不断！期待您的下次光临。</div>
                </div>
            </div>


</div><!-- pd_comment-box -->


<div class="pd_comment-loading-wrap"  style="display: none;">
<div class="pd_comment-loading"></div>
</div>
</div>




</div>
