<div class="inner_wrapper">


<div class="pd_box-border">

<div class="pd_product-title-wrap">

<div class="pd_product-title-box">
<h2 class="pd_product-title" id="pd_product-title" >
<a id="promotionLabelPic"> </a><span class="icon_sell">精制</span>{{product.name}}</h2>
<h3 class="pd_product-subtitle" id="pd_product-subtitle" >{{product.shortDes}}

</h3>
</div>
<!--
<a ng-click='collect()' ng-class="{'pd_product-collect_current': isCollected}"class="pd_product-collect " id="pd_product-collect" 
>
<span class="pd_product-collect-text pd_product-collect-text_not">收藏</span>
<span class="pd_product-collect-text pd_product-collect-text_yes">已收藏</span>
<span class="pd_product-collect-text" id="detailFavNums" >
1918
</span>
</a> -->
<a  class="pd_product-collect " id="pd_product-collect" >
<span class="pd_product-collect-text" >销售量</span>
<span class="pd_product-collect-text" id="detailFavNums" >
{{product.sales}}
</span>
</a>
</div>

<div class="pd_product-price" id="current_price">
<span class="pd_product-price-old">原价:<del>￥{{product.oldprice}}</del></span>
<span class="pd_product-price-yen">￥</span>
<strong class="pd_product-price-num">{{product.price}}</strong>
<span class="pd_product-price-decimal"></span>

<span class="tips tips_save" id="comparePcPrice"style="display:none;">省0.9元</span>
</div>




<!--
<a  class="pd_favorable-comment">
<span class="item">
9999+条评论
<span class="num">[<em>97%</em>好评]</span>
</span>
<span class="icon_arrow icon-right_arrow"></span>
</a>-->
</div><!-- pd_box-border -->

<!-- 促销-->
<div class="pd_promotions-wrap" id="detailPromotion">    
     <div ng-class="{'item_show':showpromote}" class="item " >
   		<div class="head_box" ng-click="setPromoteView()">
            <span style="background-color: #ff7c3c;color: #fff;" class="status">促</span>
            <span class="title">本商品单笔每买1件，加5元送原价 9.9 的牛肉酱一瓶</span>
            <span class="arrow icon-right_arrow"></span>
        </div>
        <a class="item_box"  ng-click='addPromotePro()' >
           <span style="border-color: #ff7c3c; color: #ff7c3c;" class="status">点我</span>
            <span class="title">本商品单笔每买1件，加5元送原价 9.9 的牛肉酱一瓶</span>
            	<div class="product_info" >
                <img class="pic" alt="向向家牛肉酱" src="http://xx-jia.com/images/productimage/2/130.jpg">
                    <div class="info">
	                    <h3>向向家 牛肉酱 100g+/瓶 </h3>
	                    <p>
	                        <span class="price">￥<em>5</em></span>
	                     		   价值：9.9元
	                    </p>
	                </div>
            </div>
            
            <span class="arrow icon-right_arrow"></span>
    	</a>   
     </div>
</div>

<!-- 系列属性-->
<div class="pd_product-arguments show"  >
<a ng-click='setSelectorMode()'>
<span class="tip">已选择</span>
<span class="text" text="口味 包装大小">{{product.selectedflavor}}，{{product.selectedsize}}</span>
<span class="arrow icon-right_arrow"></span>
</a>
</div>

<div class="pd_box-border">


<div class="pd_region-selection"><!-- 
<div class="address" id="selectionAddress" style="display:none;">
送货至 &nbsp;
<span class="name" id="h5ThreeAreas">湖南长沙市望城区</span>
<span class="icon-coordinate"></span>
<span class="icon_arrow icon-right_arrow"></span>
</div> -->
<div id="stockDesc" class="desc">
现货，18:00前完成订单，预计1天送达
</div>
</div>
<!-- H5详情页 标签 -->
<div class="pd_product-feature-wrap" id="cod_free_delivery">
<a  class="item" id="national_flag" style="display:none;">
</a>
<a  id="support_cod" class="item"style="display:none;">
<span class="icon-pay"></span>货到付款
</a>
<a  id="support_delivery_free"  class="item">
<span class="icon-transport"></span>满88免运费
</a>
<a  id="support_pay_for" style="display:none;" class="item">
<span class="icon-expensive"></span>1贵就赔
</a>
<a id="thermometer" style="display:none;" class="item">
</a>
<a  id="transport_ice" style="display:none;" class="item">
<span class="icon-transport_ice"></span>全程冷链配送
</a>
<a id="repar_first" style="display:none;" class="item">
<span class="icon-purse"></span>先行赔付
</a>
</div>
 </div>


<!--pd_multiple-business-->

<!-- pd_product-desc -->



<div class="pd_detail-tab ">
<div class="tab">
<a  ng-class="{'cur': isAt(1)}" class="item" ng-click='chooseTab(1)'>图文详情</a>
<a  ng-class="{'cur': isAt(2)}" class="item" ng-click='chooseTab(2)'>规格参数</a>
<!-- <a  ng-class="{'cur': isAt(3)}" class="item" ng-click='chooseTab(3)'>评论
9999+
</a>-->
<!--<a  ng-class="{'cur': isAt(4)}" class="item"ng-click='chooseTab(4)'>售后服务</a>-->
</div>
</div>

<div class="pd_detail-wrap" style="min-height: 565px;">


<!-- desc -->
<div class="pd_detail-tab-con desc" ng-if='isAt(1)'>
<style type="text/css">
img{max-width:none;}
.leftBckBtn{position:absolute; display:block; width:110px; height:70px; line-height:70px; left:-15px; top:-10px; text-indent:20px; text-decoration:none; font-size:28px;
}
</style>
<div id="rxDescPic" style="display:none;max-width:100%;text-align:center;"></div>

<!-- start 图图图-->
<div id="proTxtImg" class="text_desc_h5"><div></div> 
 
 

<table cellspacing="0" cellpadding="0" border="0"> 
 <tbody> 
  <tr ng-repeat='img in product.detailpictures'> 
   <td><img ng-src="{{img}}"></td> 
  </tr> 


 </tbody> 
</table> 


</div>
<!-- end 图图图-->


<h2 class="recommend_title">
<span>热门推荐商品</span></h2>

<div class="recommend" >
<div class="item">
<a href="http://xx-jia.com/detail.html?p=1" target='_self' class="product_box">
  <div class="pic"> 
    <img  src="http://xx-jia.com/images/productimage/1/210.jpg" alt="向向家牛肉酱乌冬面"></div>
	 <h3 >向向家牛肉酱乌冬面</h3>
	   <div class="price_box"> <span class="price">￥10.9</span></div></a>
	     
</div>

<div class="item">
<a href="http://xx-jia.com/detail.html?p=2"target='_self' class="product_box">
  <div class="pic"> 
    <img  src="http://xx-jia.com/images/productimage/2/210.jpg" alt="向向家牛肉酱"></div>
	 <h3 >向向家牛肉酱</h3>
	   <div class="price_box"> <span class="price">￥10.9</span></div></a>
	     
</div>		 

</div>


</div>

<!-- parameter -->
<div class="pd_detail-tab-con parameter" ng-if='isAt(2)'>


<h3 class="pd_product-parameter-title">基本信息</h3>

<div ng-repeat='des in product.detailDes track by $index' class="pd_product-parameter-item" >
<label class="pd_product-parameter-item-title">{{chinese[ $index]}}</label>
<span class="pd_product-parameter-item-desc">{{des}}</span></div>

<h3 class="pd_product-parameter-title">食品信息</h3>

<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">口味</label>
<span class="pd_product-parameter-item-desc">{{product.flavor}}</span></div>

<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">重量</label>
<span class="pd_product-parameter-item-desc">{{product.weight}}</span></div>

<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">保质期</label>
<span class="pd_product-parameter-item-desc">{{product.expirationDate}}</span></div>

<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">储存方法</label>
<span class="pd_product-parameter-item-desc">{{product.savemethod}}</span></div>

<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">食用方法</label>
<span class="pd_product-parameter-item-desc">{{product.eatmethod}}</span></div>

<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">有什么要求</label>
<span class="pd_product-parameter-item-desc">{{product.requirement}}</span></div>

<h3 class="pd_product-parameter-title">秘制配料</h3>
<p class="pd_product-parameter-text">{{product.mifang}}</p>
<h3 class="pd_product-parameter-title">小批量精制</h3>
<p class="pd_product-parameter-text">每次都是小批量精制，因此可能每次制作的口味可能有一些细微的差别，希望亲们多多体涵。</p>


</div>

<!-- comment 
<div class="pd_detail-tab-con comment" ng-if='isAt(3)' >
<comment ng-controller='CommentController'>

</comment>
</div>-->

<!-- after_service -->
<div class="pd_detail-tab-con after_service"ng-if='isAt(4)' >
<div class="pd_detail-tab-con after_service" style="display: block;">
<div class="quote"><p>本商品不支持7天无理由退货</p><p>此类商品属于特殊商品，收货时请仔细验货，如遇非质量问题签收后恕不接受退货，请见谅！</p></div><div class="quote">
<h3>服务承诺</h3>
<p>网站所售产品均为厂商正品，如有任何问题可与我们客服人员联系，我们会在第一时间跟您沟通处理。
我们将争取以更具竞争力的价格、更优质的服务来满足您最大的需求。开箱验货：请根据文描页开箱验货标准进行验收。
如存在包装破损等影响签收的因素，请您可以拒收全部商品（包括赠品）；为了保护您的权益，建议您尽量不要委托他人代为签收；
如由他人代为签收商品而没有在配送人员在场的情况下验货，则视为您所订购商品的包装无任何问题。</p><h3>温馨提示</h3>
<p>由于部分商品包装更换较为频繁，因此您收到的货品有可能与图片不完全一致，
请您以收到的商品实物为准，同时我们会尽量做到及时更新，由此给您带来不便多多谅解，谢谢！</p>
</div>
</div>
</div>


<div class="pd_detail-tab-loading" style="display: none;">
<span></span>
</div>
</div>
 </div> 
