<div class="inner_wrapper">


<div class="pd_box-border">

<div class="pd_product-title-wrap">

<div class="pd_product-title-box">
<h2 class="pd_product-title" id="pd_product-title" title="蜀道香 天椒麻辣牛肉 88g/袋">
<a id="promotionLabelPic"> </a><span class="icon_sell">自营</span>{{product.name}}</h2>
<h3 class="pd_product-subtitle" id="pd_product-subtitle" 
>
精选食材 工艺讲究 休闲 旅游 办公室零食 四川麻辣风味小吃 肉类休闲零食品 小礼品 牛肉干 牛肉粒 包装更新升级中 新老包装随机发货
</h3>
</div>
<!--
<a ng-click='collect()' ng-class="{'pd_product-collect_current': isCollected}"class="pd_product-collect " id="pd_product-collect" 
>
<span class="pd_product-collect-text pd_product-collect-text_not">收藏</span>
<span class="pd_product-collect-text pd_product-collect-text_yes">已收藏</span>
<span class="pd_product-collect-text" id="detailFavNums" >
1918
</span>
</a> -->
</div>

<div class="pd_product-price" id="current_price">

<span class="pd_product-price-yen">￥</span>
<strong class="pd_product-price-num">{{product.price}}</strong>
<span class="pd_product-price-decimal">.9</span>

<span class="tips tips_save" id="comparePcPrice"style="display:none;">省0.9元</span>
</div>

<!--
<div class="pd_product-medal-deals" >
此商品支持商家会员优惠
<a  class="pd_product-medal-deals-login" 
>登录查看</a>
</div> 
  
<label class="pd_product-integral-buy" 
id="point"  >
<input type="checkbox" class="pd_product-integral-buy-check">
<span class="pd_product-integral-buy-text">微辣</span>

<input type="checkbox" class="pd_product-integral-buy-check">
<span class="pd_product-integral-buy-text">中辣</span>

<input type="checkbox" class="pd_product-integral-buy-check">
<span class="pd_product-integral-buy-text">特辣</span>
</label> 

-->



<a  class="pd_favorable-comment">
<span class="item">
9999+条评论
<span class="num">[<em>97%</em>好评]</span>
</span>
<span class="icon_arrow icon-right_arrow"></span>
</a>
</div><!-- pd_box-border -->
<!-- 促销-->


<!-- 系列属性
<div class="pd_product-arguments  show">
<a >
<span class="tip">已选择优惠套装</span>
<span class="text" text="套装">1件(￥10.9/件)</span>
<span class="arrow icon-right_arrow"></span>
</a>
</div>-->


<div class="pd_box-border">


<div class="pd_region-selection">
<div class="address" id="selectionAddress" style="display:none;">
送货至 &nbsp;
<span class="name" id="h5ThreeAreas">湖南长沙市望城区</span>
<span class="icon-coordinate"></span>
<span class="icon_arrow icon-right_arrow"></span>
</div>
<div id="stockDesc" class="desc">
现货，18:00前完成订单，预计3天送达
</div>
</div>
<!-- H5详情页 标签 -->
<div class="pd_product-feature-wrap" id="cod_free_delivery">
<a  class="item" id="national_flag" style="display:none;">
</a>
<a  id="support_cod" class="item"style="display:none;">
<span class="icon-pay"></span>货到付款
</a>
<a  id="support_delivery_free"  class="item">
<span class="icon-transport"></span>满50免运费
</a>
<a  id="support_pay_for" style="display:none;" class="item">
<span class="icon-expensive"></span>1贵就赔
</a>
<a id="thermometer" style="display:none;" class="item">
</a>
<a  id="transport_ice" style="display:none;" class="item">
<span class="icon-transport_ice"></span>全程冷链配送
</a>
<a id="repar_first" style="display:none;" class="item">
<span class="icon-purse"></span>先行赔付
</a>
</div>
 </div>


<!--pd_multiple-business-->

<!-- pd_product-desc -->



<div class="pd_detail-tab ">
<div class="tab">
<a  ng-class="{'cur': isAt(1)}" class="item" ng-click='chooseTab(1)'>图文详情</a>
<a  ng-class="{'cur': isAt(2)}" class="item" ng-click='chooseTab(2)'>规格参数</a>
<a  ng-class="{'cur': isAt(3)}" class="item" ng-click='chooseTab(3)'>评论
9999+
</a>
<a  ng-class="{'cur': isAt(4)}" class="item"ng-click='chooseTab(4)'>售后服务</a>
</div>
</div>

<div class="pd_detail-wrap" style="min-height: 565px;">


<!-- desc -->
<div class="pd_detail-tab-con desc" ng-if='isAt(1)'>
<style type="text/css">
img{max-width:none;}
.leftBckBtn{position:absolute; display:block; width:110px; height:70px; line-height:70px; left:-15px; top:-10px; text-indent:20px; text-decoration:none; font-size:28px;
}
</style>
<div id="rxDescPic" style="display:none;max-width:100%;text-align:center;"></div>

<!-- start 图图图-->
<div id="proTxtImg" class="text_desc_h5"><div></div> 
<table cellspacing="0" cellpadding="0" border="0"> 
 <tbody> 
  <tr> 
   <td><img src="http://d7.yihaodianimg.com/N10/M00/87/F1/ChEi3FZyf5-AEWpVAAFffFuS4vw847.webp"></td> 
  </tr> 
 </tbody> 
</table> 
<div></div>
<!--综合 介绍 横图-->
<img src="http://d7.yihaodianimg.com/N10/M03/7A/72/ChEi2lZyf6iAfbVvAAAsZ1qpOgk231.webp"> 
<div></div> 
<table cellspacing="0" cellpadding="0" border="0"> 
 <tbody> 
  <tr> 
   <td width="50%"> <img src="http://d10.yihaodianimg.com/N09/M01/84/42/ChEi2FZyf6uABj7mAACmQm0D-KE352.webp"></td> 
   <td width="50%"> 
    <ul class="ull"> 
     <li>【产品名称】：蜀道香 天椒麻辣牛肉</li> 
     <li>【产品规格】：88g/袋</li> 
     <li>【产品配料】：牛肉、植物油、芝麻、大豆蛋白、食用盐、白砂糖、辣椒、花椒、鸡精调味料、香辛料、食用香精香料、食品添加剂等</li> 
     <li>【保质期限】：12个月</li> 
     <li>【贮藏方法】：存放于干燥、阴凉处</li> 
     <li>【产品标准】：GB/T23586</li> 
    </ul> </td> 
  </tr> 
 </tbody> 
</table> 
<div>
 1.蜀道香 天椒麻辣牛肉 ，传统技艺尽显七味精妙。
 <br>2.蜀道香 天椒麻辣牛肉 ，蜀道香南北 麻辣味中华。 
</div><div></div> 
<table cellspacing="0" cellpadding="0" border="0"> 
 <tbody> 
  <tr> 
   <td><img src="http://d8.yihaodianimg.com/N07/M02/92/71/ChEbvFZyf7qAeGL2AATEbcS1JkI982.webp"></td> 
  </tr> 
  <tr> 
   <td><img src="http://d6.yihaodianimg.com/N05/M08/B5/10/CgQI0lZyf8yAQAfTAAMB2KtYqfE753.webp"></td> 
  </tr> 
    <tr> 
   <td><img src="http://d10.yihaodianimg.com/N09/M0A/84/5D/ChEi11Zyf9eAEuHDAAPoBlj5Axc436.webp"></td> 
  </tr> 
  <tr> 
   <td><img src="http://d7.yihaodianimg.com/N06/M01/4E/74/CgQIzVZyf-KAAU-6AANlRdaIoSY577.webp"></td> 
  </tr>
    <tr> 
   <td><img src="http://d6.yihaodianimg.com/N05/M06/B5/11/CgQI0lZyf_uAbIt6AAMQqTe2MUs491.webp"></td> 
  </tr> 
  <tr> 
   <td><img src="http://d10.yihaodianimg.com/N09/M03/84/5E/ChEi11Zyf_-AT-WlAAJbWq_g1zc562.webp"></td> 
  </tr> 
 </tbody> 
</table> 


</div>
<!-- end 图图图-->


<h2 class="recommend_title"><span>热门推荐商品</span></h2>

<div class="recommend" >
<div class="item">
<a href="" class="product_box">
  <div class="pic"> 
    <img  src="http://d7.yihaodianimg.com/N09/M01/B7/77/ChEi11acv6qATlnVAARmjDRDx8Y32901_280x280.jpg" alt=""></div>
	 <h3 >良品铺子 麻辣豆干 188g/袋</h3>
	   <div class="price_box"> <span class="price">￥10.9</span></div></a>
	     
		 </div>

</div>
</div>

<!-- parameter -->
<div class="pd_detail-tab-con parameter" ng-if='isAt(2)'>
<h3 class="pd_product-parameter-title">产地</h3>
<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">产地</label>
<span class="pd_product-parameter-item-desc">中国大陆</span></div>
<div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">进口/国产</label>
<span class="pd_product-parameter-item-desc">国产</span></div>
<h3 class="pd_product-parameter-title">基本信息</h3><div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">包装</label>
<span class="pd_product-parameter-item-desc">整包</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">分类</label>
<span class="pd_product-parameter-item-desc">肉干</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">是否含糖</label>
<span class="pd_product-parameter-item-desc">含糖</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">口味</label>
<span class="pd_product-parameter-item-desc">麻辣味</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">牛肉产品</label>
<span class="pd_product-parameter-item-desc">牛肉条/牛肉干</span></div>
<h3 class="pd_product-parameter-title">食品安全信息</h3><div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">生产厂商</label>
<span class="pd_product-parameter-item-desc">四川省国中食品有限公司</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">产品标准号</label>
<span class="pd_product-parameter-item-desc">GB/T23586</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">储藏方法</label>
<span class="pd_product-parameter-item-desc">置于阴凉干燥处，避免阳光直晒</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">商品添加剂</label>
<span class="pd_product-parameter-item-desc">谷氨酸钠、乙基麦芽酚、食用香精香料</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">配料表</label>
<span class="pd_product-parameter-item-desc">牛肉、植物油、芝麻、大豆蛋白、食用盐、白砂糖、辣椒、花椒、鸡精调味料、香辛料</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">食品保质期</label>
<span class="pd_product-parameter-item-desc">365天</span></div><div class="pd_product-parameter-item">
<label class="pd_product-parameter-item-title">生产许可证编号（QS）</label>
<span class="pd_product-parameter-item-desc">QS510004013779</span></div>
<div class="pd_product-parameter-item"><label class="pd_product-parameter-item-title">净重(g)</label>
<span class="pd_product-parameter-item-desc">88</span></div>
<h3 class="pd_product-parameter-title">包装清单</h3><div class="pd_product-parameter-item">
<span class="pd_product-parameter-item-desc">由于厂商产品批次不同，具体包装清单可能各有不同，请以实物为准 ！
</span></div>
<h3 class="pd_product-parameter-title">服务保障</h3>
<p class="pd_product-parameter-text">不支持7天无理由退货</p>
</div>

<!-- comment -->
<div class="pd_detail-tab-con comment" ng-if='isAt(3)' >
<comment ng-controller='CommentController'>

</comment>
</div>

<!-- after_service -->
<div class="pd_detail-tab-con after_service"ng-if='isAt(4)' >
<div class="pd_detail-tab-con after_service" style="display: block;">
<div class="quote"><p>本商品不支持7天无理由退货</p><p>此类商品属于特殊商品，收货时请仔细验货，如遇非质量问题签收后恕不接受退货，请见谅！</p></div><div class="quote">
<h3>服务承诺</h3>
<p>网站所售产品均为厂商正品，如有任何问题可与我们客服人员联系，我们会在第一时间跟您沟通处理。
我们将争取以更具竞争力的价格、更优质的服务来满足您最大的需求。开箱验货：请根据文描页开箱验货标准进行验收。
如存在包装破损等影响签收的因素，请您可以拒收全部商品（包括赠品）；为了保护您的权益，建议您尽量不要委托他人代为签收；
如由他人代为签收商品而没有在配送人员在场的情况下验货，则视为您所订购商品的包装无任何问题。</p><h3>温馨提示</h3>
<p>由于部分商品包装更换较为频繁，因此您收到的货品有可能与图片不完全一致，
请您以收到的商品实物为准，同时我们会尽量做到及时更新，由此给您带来不便多多谅解，谢谢！</p>
</div>
</div>
</div>


<div class="pd_detail-tab-loading" style="display: none;">
<span></span>
</div>
</div>
 </div> 
