
<html ng-app="myApp">

<head>
<meta charset="UTF-8">
<title>我的购物车</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="minimal-ui=yes,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="wap-font-scale" content="no">
<meta name="Keywords" content="购物车">
<meta name="Description" content="购物车">

<link href="css/cart/global.css" rel="stylesheet" type="text/css">
<link href="css/cart/cart.css" rel="stylesheet" type="text/css">
<link href="css/cart/cartNew.css" rel="stylesheet" type="text/css">
<style type="text/css"></style>
</head>
<body ng-controller="UserController ">
<div ng-controller="CartController ">
<cartno ng-if='isEmpty()'></cartno>


<cartyou ng-if='!isEmpty()'></cartyou>

</div>
<script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/angular.min.js"></script>
	  <script src="http://xx-jia.com/js/angular-animate.min.js"></script>  
    <script src="js/bin/index.js"></script>
	<script src="js/bin/order.js"></script>
	<script src="js/services/user.js"></script>	
	<script src="js/controllers/user.js"></script>
   <script src="js/controllers/cart.js"></script>
   
</body>
</html>
