<!DOCTYPE html>
<html  ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>订单详情</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="minimal-ui=yes,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<link href="css/order/global.css" rel="stylesheet" type="text/css">
<link href="css/order/h5orderDetail.css" rel="stylesheet" type="text/css">
<style type="text/css"></style>

</head>


<body ng-controller='OrderDetailController'>

<div class="touchweb-com_header" id="globalHeader">
<a id="topIconBack" class="left icon-back" href="javascript:history.go(-1);"></a>
<h1>订单详情</h1>
<div class="rightBox" ng-click=showMenuFunc()>
<a class="right icon-more btn_more"  id="globalMore">
</a>


<div ng-class="{'hide': !showMenu}" class="more_list " id="globalMoreList">
<a  id="cancelOrder"  class="moreA">取消订单</a>
<a  id="cancelOrder" href="cart.html" target='_self' class="moreA"><span class="icon icon-cart"></span>购物车</a>
<a href="/" target='_self' id="moreIconHome" class="moreA"><span class="icon icon-home"></span>首页</a>
<div ng-controller='UserController'>
<a  ng-if='isloggedin()' href="user.html" target='_self'id="moreIconMyYhd" class="moreA"><span class="icon icon-my"></span>我的账号</a>
</div>
</div>

</div></div>



<orderdetail></orderdetail>

<!-- 顶部选项弹出框浮层 -->

    <script src="js/angular.min.js"></script>
    <script src="js/bin/index.js"></script>
  <script src="js/services/user.js"></script>
	<script src="js/services/orderdetail.js"></script>	
    <script src="js/controllers/orderdetail.js"></script>
<script src="js/controllers/user.js"></script>	



</body></html>
